streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama

sentence-transformers
transformers
torch

faiss-cpu
numpy
pandas

pypdf
easyocr
opencv-python-headless

sqlalchemy